@import "../../shared/styles/colors";
@import "../../shared/styles/fonts";

.card{
    border: none;
    background: none;
    .chat{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $standard;
            .rounded-circle{
                max-height: 50px;
            }
        }
    }
    .card-footer{
        background: none;
        border: none;
        form{
            background: none;
            input{
                border-radius: 0;
                border-color: $standard;
                color: $white;
                background-color: $input-background;
            }
            button{
                border-radius: 0;
                background-color: $standard;
                border: 0;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .card{
        width: 90%;
    }
}