<div class="container mt-5">
    <div *ngIf="!registerSwitch" class="home-info">
        <h1>Welcome to GamerFind</h1>
        <p class="lead">Join us to make your gaming experience better!</p>
    </div>

    <div *ngIf="registerSwitch" class="container form-register">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
