<div class="row" *ngIf="member">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 column1">
        <div class="card">
            <div class="image-wrap">
                <img src="{{member.photoUrl || './assets/user.png'}}" card="card-img-top img-thumbnail">
            </div>

            <div class="card-body">
                <div class="wrap-body">
                    <h1>{{member.userName| titlecase}}</h1>
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 column2">
        <tabset class="member-tabset">
            <tab heading="About {{member.userName | titlecase}}">
                <h2>Interests</h2>
                <p>{{member.interests}}</p>
                <h2>Looking for</h2>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages">
                <p>Messages</p>
            </tab>
        </tabset>
    </div>
</div>