<div class="container">
    <div class="row mb-4">
        <div class="btn-group">
            <button class="btn btn-primary" btnRadio="Unread" (click)="getMessages()" [(ngModel)]="container">
                <fa-icon [icon]="faEnvelope"></fa-icon> Unread
            </button>
            <button class="btn btn-primary" btnRadio="Inbox" (click)="getMessages()" [(ngModel)]="container">
                <fa-icon [icon]="faEnvelopeOpen"></fa-icon> Inbox
            </button>
            <button class="btn btn-primary" btnRadio="Outbox" (click)="getMessages()" [(ngModel)]="container">
                <fa-icon [icon]="faPaperPlane"></fa-icon> Outbox
            </button>
        </div>
    </div>

    <div class="row" *ngIf="messages?.length === 0">
        <h3>No messages</h3>
    </div>

    <div class="row table-messages" *ngIf="messages?.length > 0">
        <table class="table table-hover">
            <tr>
                <th class="message-head">Message</th>
                <th class="from-to-head">From / To</th>
                <th class="sent-received-head">Sent / Received</th>
                <th style="width: 20%;"></th>
            </tr>
            <tr [hidden]="loading" class="message-row" *ngFor="let message of messages"
                routerLink="{{container === 'Outbox' ? '/members/' + message.receiverUsername : '/members/' + message.senderUsername}}"
                [queryParams]="{tab: 2}">
                <td class="message-content">{{message.content}}</td>
                <td>
                    <div *ngIf="container === 'Outbox'">
                        <img class="img-circle rounded-circle mr-2"
                            src="{{message.receiverPhotoUrl || './assets/images/newUser.jpg'}}" />
                        <strong>{{message.receiverUsername | titlecase}}</strong>
                    </div>
                    <div *ngIf="container !== 'Outbox'">
                        <img class="img-circle rounder-circle mr-2"
                            src="{{message.senderPhotoUrl || './assets/images/newUser.jpg'}}" />
                        <strong>{{message.senderUsername | titlecase}}</strong>
                    </div>
                </td>
                <td>{{message.messageSent | timeago}}</td>
                <td>
                    <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-danger">
                        <fa-icon [icon]="faTrash" class="delete"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="d-flex justify-content-center pagination-wrap" *ngIf="pagination">
        <pagination class="pagination-item" [boundaryLinks]="true" [totalItems]="pagination.TotalItems"
            [itemsPerPage]="pagination.ItemsPerPage" [(ngModel)]="pagination.CurrentPage"
            (pageChanged)="changePage($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">

        </pagination>
    </div>
</div>