@import "../shared/styles/_fonts.scss";
@import "../shared/styles/colors.scss";

.navbar {
    background: $standard-background !important;
    .header {
        font-family: $header;
        font-size: 40px;
        color: $standard !important;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
            transition: all 0.8s;
            font-size: 25px;
            font-weight: bold;
            color: $white;
            padding: 0;
            margin: 8px 10px;
        }
        a:hover{
            box-shadow: 0 4px $standard;
        }
    }
    .dropdown-toggle{
        font-size: 20px;
    }
    .dropdown-toggle, .dropdown-item{
        cursor: pointer;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        input{
            background-color: $input-background;
            border-color: $standard;
            color: $white;
            font-weight: bold;
        }
        button{
            font-weight: bold;
            margin-left: 20px;
        }
    }
}

