<nav class="navbar navbar-expand-xl navbar-dark bg-light">
    <div class="container">
        <a class="navbar-brand header" href="#">GAMERFIND</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav main-links mr-auto" *ngIf="loggedIn$ | async">
                <li class="nav-item active">
                    <a class="nav-link" href="#">MATCHES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GAMER LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MESSAGES</a>
                </li>
            </ul>

            <div class="dropdown" *ngIf="loggedIn$ | async" dropdown>
                <a class="dropdown-toggle text-light" dropdownToggle>Welcome</a>
                <a class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </a>
            </div>


            <form *ngIf="(loggedIn$ | async) === null" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()"
                autocomplete="off">
                <input name="username" [(ngModel)]="loginObj.username" class="form-control mr-sm-2" type="text"
                    placeholder="USERNAME">
                <input name="password" [(ngModel)]="loginObj.password" class="form-control mr-sm-2" type="password"
                    placeholder="PASSWORD">
                <button class="btn btn-success my-2 my-sm-0" type="submit">LOGIN</button>
                <a class="btn register-btn my-2 my-sm-0" (click)="registerToggle()">REGISTER</a>
            </form>
        </div>
    </div>

</nav>