<div class="card mb-4 card-holder mt-4">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl}}" class="card-img-top">
    </div>
    <div class="card-body p-1">
        <h3 class="card-title text-center mb-1">
            <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
            {{member.userName | titlecase}}, {{member.age}}
        </h3>
        <p class="card-text text-center country">{{member.country}}</p>
        <p class="card-text text-center game-type">{{member.gameType}}</p>

    </div>
</div>
