/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

// Fonts imported
@import url("http://fonts.cdnfonts.com/css/vermin-verile");
@import "app/shared/styles/colors";

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid $standard;
    background: none;
    color: $white;
}
.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: $white;
}

.tab-content > .active{
    margin-top: 20px;
}

.member-tabset > .nav-tabs > li > a{
    background: none !important;
    color: white;
    border: none;
}

.member-tabset > .nav-tabs > li > a > span{
    color: $white;
    font-size: 20px;
}
.member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid $white;
    position: relative;
    background: none;
    color: $white;
}

.bs-datepicker-body table td.week span 
{
  color: $standard !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: $standard !important; 
}

@media only screen and (max-width: 851px) {
    .member-tabset > .nav-tabs > li > a{
        font-size: 15px;
    }
}

@media only screen and (max-width: 503px) {
    .member-tabset > .nav-tabs > li > a > span{
        font-size: 15px;
    }
}

@media only screen and (max-width: 417px) {
    .member-tabset > .nav-tabs > li > a > span{
        font-size: 13px;
    }
}